@keyframes slideInFromLeft {
  from {
    inset-inline-start: -20px;
  }

  to {
    inset-inline-start: -16px;
  }
}

.like-icon .core {
  fill: var(--background-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--color-sparks);
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  fill: var(--background-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--color-sparks);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--color-sparks);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--color-sparks);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--color-sparks);
  transition: fill 0.3s 0.06s linear;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked {
  animation: sizeСhanges 0.3s 0.1s ease-in;
  animation-direction: alternate;
}

@keyframes sizeСhanges {
    from {
      transform: scale(1);
    }

    to {
      transform: scale(1.5);
    }
}

.like-icon.is-liked .sparks {
  animation: fadeIn 0.3s 0.3s ease-in;
  animation-direction: alternate;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}